.search-city {
  margin: 10px auto;
  padding: 5px;
  text-align: left;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  background: white;
  max-width: 60%;
}
.search-button {
  margin: 10px 20px;
}
.current-location {
  margin-left: 10px 20px;
}
