.search-city {
  margin: 10px auto;
  padding: 5px;
  text-align: left;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  background: white;
  max-width: 50%;
}
.search-button {
  margin: 10px 20px;
}
.current-location {
  margin-left: 10px 20px;
}
.current-forecast .temp-now {
  border: 1px solid #e5e5e5;
  border-radius: 35px;
  background: white;
  max-width: 70%;
  text-align: center;
}
.city-searched {
  text-align: left;
  margin: 20px 30px 5px 30px;
}

.current-weather-description {
  font-size: 25px;
}

.current-weather-icon canvas {
  text-align: left;
  margin-left: 0;
  margin-right: 10px;
  position: relative;
  left: -20px;
  bottom: -15px;
}

.temp-now {
  font-family: "Playfair Display", serif;
  border: 1px solid #e5e5e5;
  border-radius: 35px;
  background: white;
  margin: 20px 60px 5px 100px;
}
.temp-now ul {
  text-align: left;
  list-style: none;
}
.current-forecast .temperature {
  font-size: 46px;
}
.units {
  font-size: 18px;
  position: relative;
  top: -20px;
  padding: none;
  margin-left: 5px;
}
.units .active {
  color: black;
  text-decoration: none;
}
.celsius {
  text-decoration: none;
}
.details {
  font-family: "Playfair Display", serif;
  font-size: 15px;
  list-style: none;
  padding: 30px;
  text-align: left;
}
